body {
    background-color: rgb(25, 146, 155);
}
#carro {
    width: 100%;
    height:100px;
}

    
h1 {
    text-align: center;
    background: rgb(83, 194, 242);
}

p {
    text-align: center;
    background: rgb(83, 194, 242);
}

strong {
    color: red;
}

.itens 
fontstyle 

#frs {
    width:35%
    height; ;
}